/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --main-color:#1FAA59;
}
/* default color */
.font-color{
    color:var(--main-color);

}
.bg-color{
    background-color: var(--main-color);
}

body{
    font-family: 'Poppins', sans-serif;
}

#spinner{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;
    display: none;
}

/* Custom Shadow */
.tm-shadow{
    box-shadow: rgb(197 197 197 / 7%) 0px 7px 29px 0px;
}