/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global Variables */
:root{
    --main-color:#1FAA59;
}
/* Custom Class */
/* default color */
.tm-color{
    color:var(--main-color);

}
/* TM Background Color */
.tm-bg{
    background-color: var(--main-color);
}
/* Custom Shadow */
.tm-shadow{
    box-shadow: rgb(197 197 197 / 7%) 0px 7px 29px 0px;
}

/* body section style */
body{
    font-family: 'Poppins', sans-serif;
}
/* searchbar style */
#search-bar{
    border:1px solid var(--main-color);
    color: var(--main-color);
}

/* searchbar validation style */
.plh-color::placeholder{
    color: red;
}

/* data toggler style */
#spinner{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom: 0;
    margin: auto;
    display: none;
}

/* Load All Data Section */
#load-more-Data{
    display: none;
}